{% extends '../calculate.html' %}

{% block results_header %}
    <th>Установленный генотип<br/>первого проверяемого лица (ребенок 1)</th>
    <th>Установленный генотип<br/>второго проверяемого лица (ребенок 2)</th>
    <th>Установленный генотип<br/>третьего проверяемого лица (ребенок 3)</th>
    <th>Установленный генотип<br/>предполагаемого родителя</th>
{% endblock results_header %}

{% block results_row %}
    {{ block.super }}
    <td>{{ value.part3 }}</td>
    <td>{{ value.part4 }}</td>
{% endblock results_row %}