@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

p, h1, h2, input, button, a, table, textarea {
    font-family: 'Roboto', sans-serif;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: rgba(17,42,45,0.93);
    line-height: 1.5;
    text-align: center;
}

textarea {
    width: 80%;
    font-size: 1.2rem;
    padding: .375rem .75rem .375rem 1.8rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    overflow: auto;
    resize: vertical;
    margin: 0;
    text-align: start;
    background-color: gainsboro;
}

button {
    display: none;
}

.container-content {
    background: lightgray;
    opacity: 0.9;
    margin-top: 100px;
    padding: 20px;
    border-radius: 40px;
    margin-right: 5rem;
    margin-left: 5rem;
}

form {
    color: #343a40!important;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
}

p {
    text-align: center;
}

label {
    font-family: 'Roboto', sans-serif;
}

label, button, a {
    cursor: pointer;
}

input[type=radio], input[type=button] {
    display: none;
}

.choose-cognation {
    display: block;
}

.cognation-preview, .add-genotype {
    display: none;
}

.but-bunch {
    flex-wrap: wrap!important;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.cognation-button, .preview-button, .genotype-button,  a {
    width: 24%;
    min-width: 9rem;
    min-height: 8rem;
    white-space: normal;
    font-size: 1rem;
    display: inline-block;
    font-weight: 200;
    text-align: -webkit-center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 1rem;
    line-height: 1.5;
    background-color: #333333;
    color: #f5f5f5;
    border-radius: 1rem;
    opacity: .85;
    margin: 0.2rem;
}

.cognation-button:first-child {
    margin-left: 0.2rem;
}

.cognation-button:hover, .cognation-button:active, .preview-button:hover, .preview-button:active {
    opacity: 1;
}

.cognation-button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.but-bunch-toggle>.cognation-button, .but-bunch-toggle>.but-bunch>.cognation-button {
    margin-bottom: 0;
}

.but-bunch-vertical>.cognation-button, .but-bunch>.cognation-button {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.description-genotypes {
    display: none;
    width: 100%;
    margin-top: 3%;
}

.cognation-preview {
    display: none;
}

.preview-header {
    margin: 0;
}

.preview-image {
    width: 30%;
    white-space: normal;
    font-size: 0.8em;
    display: inline-block;
    vertical-align: sub;
    border-color: rgba(17,42,45,0.93);
    border-radius: 15px;
    margin-top: 2.1rem;
    margin-left: 1rem;
}

.text-buttons {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 5%;
}

.preview-text {
    text-align: center;
    white-space: normal;
    display: block;
    font-size: 1.2rem;
}

.preview-buttons, .genotype-buttons {
    display: block;
    text-align: center;
}

.submit {
    display: none;
}

.preview-button, .genotype-button {
    display: inline-block;
    min-height: 1rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
}

.preview-button:first-child, .genotype-button:first-child {
    margin-right: 2%;
}

.all-genotypes {
    width: 100%;
}

.add-genotype {
    width: 100%;
}

.genotype-header {
    margin-top: 0;
    margin-bottom: 1rem;
}

.genotype-buttons:first-child {
    margin-right: 2%;
}

/* Final table in calculate.html */

table {
    text-align: center;
}

.meaning {
    text-align: right;
}

a {
    text-decoration: none;
    font-weight: 800;
    min-height: 5rem;
}

.link-group {
    margin-top: 2rem;
}
