.final-group {
    margin-top: 2%;
}

.btn {
    white-space: normal;
}

.btn-secondary {
    margin: 1%;
    width: 32%;
}

.btn-secondary p {
    display: none;
}

.btn-secondary:hover p {
    display: block;
}

.btn-secondary:active p {
    display: block;
}



/* Final table in calculate.html */

table {
    text-align: center;
}

.descr, .freqused {
    text-align: left;
}

.meaning {
    text-align: right;
}
