{% extends "../base.html" %}

{% block html_title %}
    {{ block.super }} — Cognation
{% endblock %}

{% block title %}
    Cognation
{% endblock title %}

{% block content %}
    {{ block.super }}
    <form action="{% url 'cognation:calculate' %}" method="post" id="cognationForm">
        <div class="label-notion">
            <h1>Input order:</h1>
            <ol>
                <li>Father / grandfather etc</li>
                <li>Inspected person (child / grandchild etc)</li>
            </ol>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary">
                <input type="radio" name="type" value="1"/> Parent
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="type" value="2"/> 2 Children
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="type" value="3"/> Sibling
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="type" value="4"/> 3 Children
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="type" value="7"/> 2 Parents
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="type" value="11"/> Step-Brother
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="type" value="12"/> Brother
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="type" value="14"/> Cousin
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="type" value="15"/> Uncle
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="type" value="17"/> Grandparent
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="type" value="19"/> GranParentChild
            </label>
        </div>
        <div style="margin:10px 0;">
            <label for="dataId"></label>
            <textarea style="background:gainsboro;" id="dataId" name="data" cols="120" rows="24"
                      class="form-control"></textarea>
        </div>
        {% csrf_token %}
        <input type="submit" class="btn btn-dark" title="Submit"/>
    </form>
{% endblock content %}
