{% extends "../base.html" %}

{% block html_title %}
    {{ block.super }} — Cognation
{% endblock %}

{% block title %}
    Cognation
{% endblock title %}

{% block content %}
    {{ block.super }}
    <form action="{% url 'cognation:calculate' %}" method="post" id="cognationForm" class="text-dark">
        <div class="wrapper">
            <div>
                <h1 id="start-header">Выберите тип родства:</h1>
            </div>
            {% load static %}
            <div id="select-formula">
                <div class="but-bunch" data-toggle="buttons">
                    {% for f in formulas %}
                        <label class="cognation-button" title="{{ f.name }}">
                            <input type="radio" class="target" name="type" value="{{ f.value }}"/> {{ f.name }}
                        </label>
                        <div class="descr-genotypes">
                            <div class="description">
                                <h2>
                                    {{ f.name }}
                                </h2>
                                <img src="{% static f.image %}" class="description-image"
                                     alt="{{ f.name }}">
                                <div class="text-buttons">
                                    <p class="description-text">
                                        {{ f.desc }}
                                    </p>
                                    <div class="ok-back-buttons">
                                        <button class="description-button description-back">
                                            Назад
                                        </button>
                                        <button class="description-button description-ok">
                                            OK
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="all-genotypes">
                                <div class="first-genotype">
                                    <h2 class="genotype-header">
                                        {{ f.parts.1 }}
                                    </h2>
                                    <label>
                                        <textarea name="{{ f.names.0 }}" cols="120" rows="24" class="form-control"
                                                  style="background:gainsboro">
                                        </textarea>
                                    </label>
                                    {% csrf_token %}
                                    <div class="genotype-button-group">
                                        <button class="first-back">
                                            Назад
                                        </button>
                                        <button class="genotype-next">
                                            Далее
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <script>

            /* Behaviour of radio buttons - on click on one of them show its description and hide the rest of buttons */
            for (let label of document.querySelectorAll('label.cognation-button')) {
                label.onclick = HideFormulaButtons
            }

            function HideFormulaButtons(event) {
                let descrGenotypes = event.target.nextElementSibling;
                descrGenotypes.style.display = 'block';
                let startHeader = document.getElementById('start-header')
                startHeader.style.display = 'none';

                for (let label of document.querySelectorAll('label.cognation-button')) {
                    label.style.display = 'none';
                }
            }


            /* On click on back button in a description - hide description and show the rest of radio buttons */
            for (let descriptionBack of document.querySelectorAll('button.description-back')) {
                descriptionBack.onclick = function OnBackButtonClick() {
                    let description = descriptionBack.closest('.description');
                    console.log(description);
                }
            }

            /* On click on ok button in a description - hide description and label, show first field fof genotype, hide start header
            for (let okButton of document.querySelectorAll('button.descr-ok')) {
                okButton.onclick = function OnOKButtonClick() {
                    /* hiding label
                    let labelToHide = okButton.closest('.descr-genotypes').previousElementSibling;
                    labelToHide.style.display = 'none';

                    /* hiding description
                    let cognDescr = okButton.closest('.cogn-descr')
                    cognDescr.style.display = 'none';

                    /* hiding start header
                    document.getElementById('start-header').style.display = 'none';

                    /* showing first field for genotype
                    let addGenotype = cognDescr.nextElementSibling.firstElementChild;
                    console.log(addGenotype)
                    addGenotype.style.display = 'block';
                }
            }

            /* First child back - hides itself, shows description
            for (let allGenotypes of document.querySelectorAll('div.all-genotypes')) {
                let buttonGroup = allGenotypes.querySelector('div.first-genotype').querySelector('div.genotype-button-group');
                let firstBackButton = buttonGroup.querySelector('button.first-back');
                firstBackButton.onclick = function firstBackButtonBehaviour() {
                    let firstGenotype = allGenotypes.firstElementChild;
                    firstGenotype.style.display = 'none';

                    let description = allGenotypes.previousElementSibling;
                    description.style.display = 'block';

                    let connectedLabel = description.parentElement.previousElementSibling;
                    connectedLabel.style.display = 'inline';

                    document.getElementById('start-header').style.display = 'block';
                }
            }

            /* All other back buttons - hide themselves, show previous genotypes
            for (let allGenotypes of document.querySelectorAll('div.all-genotypes')) {
                let addGenotype = allGenotypes.querySelector('div.add-genotype');
                console.log(addGenotype);
                let backButton = addGenotype.querySelector('button.genotype-back');
                backButton.onclick = function BackButtonBehaviour() {
                    console.log('back genotype')
                    addGenotype.style.display = 'none';
                    let previousGenotype = addGenotype.previousElementSibling;
                    previousGenotype.style.display = 'block';
                }
            }

            /* Next button always shows next genotype
            for (let allGenotypes of document.querySelectorAll('div.all-genotypes')) {
                let firstGenotype = allGenotypes.firstElementChild;
                let nextButton = firstGenotype.querySelector('button.genotype-next');
                nextButton.onclick = function FirstNextButtonBehaviour() {
                    let nextGenotype = firstGenotype.nextElementSibling;
                    nextGenotype.style.display = 'block';
                    firstGenotype.style.display = 'none';
                }
            }

            for (let allGenotypes of document.querySelectorAll('div.all-genotypes')) {
                let addGenotype = allGenotypes.querySelector('div.add-genotype');
                let nextButton = addGenotype.querySelector('button.genotype-next');
                if (nextButton !== null) {
                    nextButton.onclick = function NextButtonBehaviour() {
                        let nextGenotype = addGenotype.nextElementSibling;
                        nextGenotype.style.display = 'block';
                        addGenotype.style.display = 'none';
                    }
                }
            }
            */

        </script>
    </form>
{% endblock content %}