{% extends "../base.html" %}

{% block html_title %}
    {{ block.super }} — Cognation
{% endblock %}

{% block title %}
    Cognation
{% endblock title %}

{% block content %}
    {{ block.super }}
    <form action="{% url 'cognation:calculate' %}" method="post" id="cognationForm" class="text-dark">
        <div class="wrapper">
            {% load static %}
            <div id="select-formula">
                <div class="but-bunch" data-toggle="buttons">
                    <h1 id="start-header">Выберите тип родства:</h1>
                    <div id="cognation-screen" class="choose-cognation">
                        {% for formula in formulas %}
                        <label class="cognation-button" title="{{ formula.name }}">
                            <input
                                    type="radio"
                                    class="target"
                                    value="{{ formula.value }}"
                                    name="type"
                                    data-image-url="{% static formula.image %}"/> {{ formula.name }}
                        </label>
                        {% endfor %}
                    </div>

                    <div id="cognation-preview" class="cognation-preview">
                        <h2 class="preview-header"></h2>
                        <img class="preview-image" src="" alt="">
                        <div class="text-buttons">
                            <p class="preview-text"></p>
                            <div class="ok-back-buttons">
                                <label class="description-button description-back">
                                    <input type="button" value="Назад">Назад
                                </label>
                                <label class="description-button description-ok">
                                    <input type="button" value="OK">OK
                                </label>
                            </div>
                        </div>
                    </div>

                    <div id="add-genotype" class="add-genotype">
                        <h2 class="genotype-header">
                            {{ formula.parts.1 }}
                        </h2>
                        <label for="part{{ forloop.counter }}Id"></label>
                            <textarea name="part{{ forloop.counter }}" id="part{{ forloop.counter }}Id" cols="120" rows="24" class="form-control"></textarea>
                        {% csrf_token %}
                        <div class="genotype-button-group">
                            <label class="genotype-button genotype-back">
                                <input type="button" value="Назад">Назад
                            </label>
                            <label id="next-button" class="genotype-button genotype-next">
                                <input type="button" value="Далее">Далее
                            </label>
                            <button id="submit-button" class="genotype-button genotype-submit">
                                Рассчитать
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            let formulas = {{ formulas_dump|safe }};
            console.log(formulas);
            const STEP_CHOOSE_COGNATION = 'choose_cognation';
            const STEP_COGNATION_PREVIEW = 'cognation_preview';
            const STEP_FILL_IN_DATA = 'fill_in_data';

            let step = STEP_CHOOSE_COGNATION;
            /* variable for comparing data.length and participants number (is data list full or not) */
            let fillInPart = 0;
            let data = [];

            function HideCognationScreen() {
                console.log('call', 'HideCognationScreen')
                let cognationScreen = document.getElementById('cognation-screen');
                cognationScreen.style.display = 'none';
            }

            function ShowCognationScreen() {
                let cognationScreen = document.getElementById('cognation-screen');
                cognationScreen.style.display = 'block';
            }

            function HideCognationPreview() {
                let cognationPreview = document.getElementById('cognation-preview');
                cognationPreview.style.display = 'none'
            }

            function ShowCognationPreview() {
                let cognationPreview = document.getElementById('cognation-preview');
                cognationPreview.style.display = 'block';
            }

            function HideAddGenotype() {
                let addGenotype = document.getElementById('add-genotype');
                addGenotype.style.display = 'none';
            }

            function ShowAddGenotype() {
                let addGenotype = document.getElementById('add-genotype');
                addGenotype.style.display = 'block';
            }

            function HideNextButton() {
                let nextButton = document.getElementById('next-button');
                nextButton.style.display = 'none';
            }

            function ShowNextButton() {
                let nextButton = document.getElementById('next-button');
                nextButton.style.display = 'inline-block';
            }

            function HideSubmitButton() {
                let submitButton = document.getElementById('submit-button');
                submitButton.style.display = 'none';
            }

            function ShowSubmitButton() {
                let submitButton = document.getElementById('submit-button');
                submitButton.style.display = 'inline-block';
            }


            function OnRadioClick(event) {
                console.log(event.target)
                let label = event.target
                let input = label.querySelector('input')
                let value = input.getAttribute('value');
                let imageUrl = input.getAttribute('data-image-url')
                console.log(value)
                let currentFormula
                for (let formula of formulas) {
                    if (formula['value'] === Number(value)) {
                        currentFormula = formula
                        break
                    }
                }
                let cognationPreview = document.getElementById('cognation-preview');
                cognationPreview.querySelector('.preview-header').innerHTML = currentFormula['name'];
                let imageForm = cognationPreview.querySelector('.preview-image')
                imageForm.setAttribute('src', imageUrl);
                imageForm.setAttribute('alt', currentFormula['name']);
                let previewText = cognationPreview.querySelector('.preview-text');
                previewText.innerHTML = currentFormula['desc'];
                HideCognationScreen();
                ShowCognationPreview();
            }

            /* behaviour of RadioButtons */
            window.onload = function setUpHanlders() {
                for (let label of document.querySelectorAll('label.cognation-button')) {
                    label.addEventListener("click",OnRadioClick,{once:true});
                }
            }

            function OnBackClick() {
                if (step === STEP_COGNATION_PREVIEW) {
                    step = STEP_CHOOSE_COGNATION;
                    HideCognationPreview();
                    ShowCognationScreen();
                }
                if (step === STEP_FILL_IN_DATA) {
                    if (fillInPart === 1) {
                        fillInPart = 0;
                        step = STEP_COGNATION_PREVIEW;
                        HideAddGenotype();
                        ShowCognationPreview();
                    } else {
                        fillInPart--;

                    }
                }
            }

            function OnNextClick() {
                if (step === STEP_COGNATION_PREVIEW) {
                    step = STEP_FILL_IN_DATA;
                    HideCognationPreview();
                    ShowAddGenotype();
                }
                if (step === STEP_FILL_IN_DATA) {

                }
            }

        </script>
    </form>
{% endblock content %}