@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

p, h1, h2, input, button, a, table {
    font-family: 'Roboto', sans-serif;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: rgba(17,42,45,0.93);
    line-height: 1.5;
    text-align: center;
}


.container-content {
    background: lightgray;
    opacity: 0.9;
    margin-top: 100px;
    padding: 20px;
    border-radius: 40px;
    margin-right: 5rem;
    margin-left: 5rem;
}

form {
    color: #343a40!important;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
}

p {
    text-align: center;
}

label {
    font-family: 'Roboto', sans-serif;
}

label, button, a {
    cursor: pointer;
}

input[type=radio] {
    display: none;
}

.but-bunch {
    flex-wrap: wrap!important;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.cognation-button, .description-button {
    width: 24%;
    min-width: 9rem;
    min-height: 7rem;
    white-space: normal;
    font-size: 0.9rem;
    display: inline-block;
    font-weight: 200;
    text-align: -webkit-center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 1rem;
    line-height: 1.5;
    background-color: #333333;
    color: whitesmoke;
    border-radius: 1rem;
    opacity: .85;
    margin: 0.2rem;

}

.cognation-button:first-child {
    margin-left: 0.2rem;
}

.cognation-button:hover, .cognation-button:active, .description-button:hover, .description-button:active {
    opacity: 1;
}

.cognation-button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.but-bunch-toggle>.cognation-button, .but-bunch-toggle>.but-bunch>.cognation-button {
    margin-bottom: 0;
}

.but-bunch-vertical>.cognation-button, .but-bunch>.cognation-button {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

.description-genotypes {
    display: none;
    width: 100%;
    margin-top: 3%;
}

.description {
    display: inline-block;
}

.description-header {
    margin: 0;
}

.description-image {
    width: 30%;
    white-space: normal;
    font-size: 0.8em;
    display: inline-block;
    vertical-align: sub;
    border-color: rgba(17,42,45,0.93);
    border-radius: 15px;
    margin-top: 2.1rem;
    margin-left: 1rem;
}

.text-buttons {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 5%;
}

.description-text {
    text-align: center;
    white-space: normal;
    display: block;
    font-size: 1.2rem;
}

.ok-back-buttons {
    display: block;
    text-align: center;
}

.description-button {
    display: inline-block;
    min-height: 1rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
}

.description-button:first-child {
    margin-right: 2%;
}

.all-genotypes {
    width: 100%;
}

.add-genotype, .first-genotype {
    display: none;
    width: 100%;
}

.genotype-header {
    margin-top: 0;
    margin-bottom: 5%;
}

.genotype-button-group {
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.genotype-back, .genotype-next, .genotype-submit {
    display: inline-block;
}

.genotype-back {
    margin-right: 2%;
}

/* Final table in calculate.html */

table {
    text-align: center;
}

.description-text, .freqused {
    text-align: left;
}

.meaning {
    text-align: right;
}

.a {
    min-height: 2rem;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    width: 24%;
    min-width: 5rem;
    white-space: normal;
    font-size: 0.9rem;
    display: inline-block;
    text-align: -webkit-center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 1rem;
    line-height: 1.5;
    background-color: #333333;
    color: whitesmoke;
    border-radius: 1rem;
    opacity: .85;
    margin: 0.2rem
}

.link-group {
    margin-top: 2rem;
}
