<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block html_title %}
            Genomed software
        {% endblock html_title %}
    </title>

    {% load static %}
    <link rel="stylesheet" href="{% static "main.css" %}">
    <!---<script type="text/javascript" src="{% static 'js/index.js' %}"></script>--->

</head>

<body>
    <div class="container container-content">
        <section class="content">
            {% block content %}{% endblock content %}
        </section>
    </div>

    <div class="container container-footer">
        <section class="footer">
            {% block footer %}{% endblock footer %}
        </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {% block scripts %}

    {% endblock scripts %}
</body>
</html>